#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
}

#app main {
    margin-left: 20px;
}

aside {
    width: 350px;
    background-color: white;
    padding: 30px 20px;
    border-radius: 3px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}


main {
    flex: 1;
}

main ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}


@media (max-width: 1000px) {
    #app main ul {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 740px) {
    #app{
        flex-direction: column;
    }

    #app main ul {
        grid-template-columns: 1fr;
    }

     #app main {
        margin-left: 0;
        margin-top: 20px;
    }

     #app aside {
        width: 100%;
    }
}